body
{
    width: 100%;
    height: 100%;
    background-color: gainsboro;
    background-attachment: fixed;
}

.dropdown{
  width: 20%;
}

.dropdown_container{
  padding-top: 100px;
  padding-left: 45%;
}

.covid_heading{
  color: red;
  font-weight: bold;
  text-align: center;
  padding-top: 70px;
}

.search_button{
  padding-top: 50px;
  padding-left: 48%;
}

.grid_padding{
  padding: 0 50px 100px 200px;
}

.inner_grid{
  height: 300px;
  width: 70%;
  margin-top: 100px;
}

.covid_result_heading{
  text-align: center;
}

